/* Navbar */
body {
  background-color: #f8f9fa;
}
.navbar .container h1 {
  font-size: 40px;
  color: #0099ff;
  text-decoration: none;
}

.login-panel {
  background-color: #f8f9fa;
}
.login-panel .container .judul-text h3 {
  margin-top: 100px;
  font-family: 'Secular One', sans-serif;
  font-size: 30px;
}
.login-panel .container .panel {
  margin-top: 20px;
}
.container .row .col .rectangle .form-floating {
  width: 400px;
  box-sizing: border-box;
}
.btn-login {
  background-color: #0099ff;
  color: #ffff;
}
.login-panel svg {
  position: absolute;
  bottom: 0;
}

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
